:root {
  --color-primary-10: #fbefb7;
  --color-primary-50: #f2cc10;

  --color-secondary-10: #c3cae8;
  --color-secondary-30: #8694d0;
  --color-secondary-50: #4357ad;
  --color-secondary-70: #273366;
  --color-secondary-90: #2e3547;

  --color-neutral-10: #f7f7f7;
  --color-neutral-30: #e1e1e1;
  --color-neutral-50: #bfbfbf;
  --color-neutral-60: #666;
  --color-neutral-70: #333;
  --color-neutral-90: #222;

  --color-black: #000;
  --color-white: #fff;
}
