<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $title := site.Title }}
    {{ if not .IsHome }}
        {{ $title = printf "%s - %s" .Title site.Title }}
    {{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="Connecting open source communities - together we can strengthen communication technology">

    <!-- Include twitter cards & open graph metadata -->
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

    <link href="https://fonts.googleapis.com/css?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap" rel="stylesheet">

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <link href="/images/favicon-32.png" rel="shortcut icon">
    <link href="/images/favicon-512.png" rel="apple-touch-icon-precomposed">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WQW669F');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQW669F"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="c-header">
    <div class="c-header-bar l-container">
        <a href="/"><span class="c-logo">Open Comms <em>alliance</em></span></a>
        <a href="mailto:opensource@wearespindle.com" class="c-header-link" target="_blank" rel="external">Email us</a>
    </div>

    <ul class="c-navigation">
        <div class="c-navigation-list l-container">
            <a href="/members">Members</a>
            <a href="/projects">Projects</a>
            <a href="/events">Events</a>
            <a href="/benefits">Benefits</a>
            <a href="/discussion">Discussion</a>
        </div>
    </ul>
</div>

{{ block "main" . }}{{ end }}

<div class="c-footer">
    <div class="c-footer-links">
        <a href="https://twitter.com/OpenCommsAllies" target="_blank" rel="external" class="c-button c-button-border">Twitter</a>
        <a href="mailto:opensource@wearespindle.com" target="_blank" rel="external" class="c-button c-button-border">E-mail us</a>
    </div>
    Copyright 2022 - Open Comms Alliance - <a href="/privacystatement" class="c-footer-link">Privacy Statement</a> - <a href="https://docs.google.com/document/d/12eg7uGGKyVzSwDeLVwl7uYHAKTHFCEF39g7Xi2ZORWw/edit?usp=sharing" class="c-footer-link">Bylaws</a> - <a href="https://github.com/open-voip-alliance/code-of-conduct" class="c-footer-link">Code of Conduct</a> - <a href="https://github.com/open-voip-alliance/website" rel="external" target="_blank" class="c-footer-link">Edit this page</a>
</div>
</body>
</html>
